@use './mixins' as *;
@use './typography' as *;
@use './variables' as *;

* {
    font-family: 'Lexend';
}

h1 {
    font-size: 2.986rem; 
    line-height: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 2.488rem;
    line-height: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2.074rem;
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.728rem;
    line-height: 1.6rem;
    font-weight: 600;
}

h5 {
    font-size: 1.44rem;
    line-height: 1.6rem;
    font-weight: 400;
}

h6 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300;
}