$color-primary-background: #e7e2f3;
$color-primary-background-dark: #a7b2e6;
$color-primary-text: #2d3c67;

$color-secondary-background: #688cca;
$color-secondary-text: #496d9c;

$desktop-tablet-padding: 2rem;

$mobile-padding: 1rem;