@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.projects {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s ease-out 0s 1 slide-fade-top;

    @include tablet {
        padding: $desktop-tablet-padding;
    }

    @include desktop {
        padding: $desktop-tablet-padding;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;

    }

    &__heading {
            align-self: flex-start;
            padding-bottom: 1rem;
        
    }
}