@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: $color-primary-background-dark;

    &__link {
        text-decoration: none;
        color: $color-primary-text;
        padding: $mobile-padding;
        transition: 0.25s;

        @include tablet {
            padding: $desktop-tablet-padding
        }

        @include desktop {
            padding: $desktop-tablet-padding
        }

        &:hover {
            color: $color-secondary-text;
            transform: translateY(.25rem);
        }
    }
}