@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.resume {
    margin: 1rem;
    animation: 1s ease-out 0s 1 slide-fade-top;

    &__job {
        padding: 2rem 1rem;
    }

    &__title{
        padding-bottom: 1rem;
    }

    &__dates {
        padding-bottom: 1rem;
    }
}