@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.homepage {
    text-align: center;
    padding: 2rem;
    animation: 1s ease-out 0s 1 slide-fade-top;

    &__img{
        width: 50%;
        border-radius: 50%;
        object-fit: cover;
        padding-top: 1rem;

        @include tablet {
            width: 20rem;
            height: 20rem;
        }

        @include desktop {
            width: 29rem;
            height: 29rem;
        }
        
    }

    &__top-section {
        @include tablet {
            display: flex;     
        }

        @include desktop {
            display: flex;  
            padding: 0rem 3rem;   
        }
    }

    &__top-text {
        @include tablet {
            display: flex;
            flex-direction: column;  
            padding: 1rem;
        }

        @include desktop {
            display: flex;
            flex-direction: column;  
            padding: 0rem 3rem;
        }
    }

    &__subheader {
        padding-top: 1rem;
    }

    &__text {
        padding-top: 1rem;
    }
}